# ==============================================================================
# Proxmox VE Terraform Variables Example
# Run `./scripts/bootstrap.sh` to generate the real terraform.tfvars automatically!
# ==============================================================================

proxmox_api_token = "root@pam!terraform=00000000-0000-0000-0000-000000000000"
